[root]
root_dir = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
cmd = "templ generate && go build -o ./tmp/main ."
bin = "./tmp/main"
delay = 1000
exclude_dir = ["assets", "tmp", "vendor", "testdata", "bin"]
exclude_regex = ["_test.go"]
include_ext = ["go", "tpl", "tmpl", "templ", "html", "css", "js"]

[color]
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
time = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
keep_scroll = true
